@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Source Sans Pro', sans-serif;
    @apply text-ink-darkest;
  }

  h2 {
    @apply text-3xl font-bold leading-10;
  }

  h3 {
    @apply text-2xl font-bold leading-9;
  }

  h4 {
    @apply text-xl font-bold leading-8;
  }
}

@layer components {
  .fs-lg {
    @apply text-lg;
  }
  .fs-base {
    @apply text-base;
  }
  .fs-sm {
    @apply text-sm;
  }
  .fs-xs {
    @apply text-xs;
  }
  .fw-400 {
    @apply font-normal;
  }
  .fw-600 {
    @apply font-semi-bold;
  }
  .fw-700 {
    @apply font-bold;
  }
  .lh-10 {
    @apply leading-10;
  }
  .lh-9 {
    @apply leading-9;
  }
  .lh-8 {
    @apply leading-8;
  }
  .lh-7 {
    @apply leading-7;
  }
  .lh-6 {
    @apply leading-6;
  }
  .lh-5 {
    @apply leading-5;
  }
  .lh-4 {
    @apply leading-4;
  }
  .lh-3 {
    @apply leading-3;
  }
  .lh-2 {
    @apply leading-2;
  }
  .lh-1 {
    @apply leading-1;
  }
  .icon {
    @apply h-[16px] w-[16px];
  }
  :is(.close-btn, .btn-primary, .btn-secondary, .btn-light) {
    @apply flex items-center justify-center rounded-base text-base font-semi-bold;
  }
  .close-btn {
    @apply h-12 w-12 bg-ink-darkest/[.3] hover:opacity-80;
  }
  .btn-primary {
    @apply h-12 w-[174px] bg-red-base text-sky-white hover:opacity-80;
  }
  .btn-secondary {
    @apply h-8 w-[91px] border border-red-base bg-transparent text-red-base hover:opacity-80;
  }
  .btn-light {
    @apply h-12 w-[174px] border border-transparent bg-transparent text-red-base hover:opacity-80;
  }
  .pagination {
    @apply flex items-center justify-between gap-2;
  }
  .pagination-item {
    @apply flex h-8 w-8 items-center justify-center rounded-full bg-sky-base text-lg font-bold text-sky-white;
  }
  .pagination-item--active {
    @apply flex h-8 w-8 items-center justify-center rounded-full bg-red-base text-lg font-bold text-sky-white;
  }
  .icon-pagination {
    @apply;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
