.multi-range-slider .bar-inner,
.multi-range-slider {
  border: none;
  box-shadow: none;
}

.multi-range-slider {
  padding: 10px 0px;
}

.multi-range-slider .thumb::before {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #e8282b;
  background-color: #fff;
  box-shadow: none;
  border-radius: 50%;
  z-index: 1;
}

.multi-range-slider .thumb-left::before {
  margin: -4px 0px;
}

.multi-range-slider .thumb-right::before {
  margin: -4px -12px;
}

.multi-range-slider .bar-right {
  box-shadow: none;
  border-radius: 0px 8px 8px 0px;
}

.multi-range-slider .bar-left {
  box-shadow: none;
  padding: 0;
}

.multi-range-slider .bar-inner,
.multi-range-slider .bar-right {
  height: 4px;
}

.multi-range-slider .thumb .caption * {
  display: none;
}

:is(.accordion__button, .accordion__panel) {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

.accordion__button:hover {
  background-color: transparent;
}

.accordion__button:before {
  display: none;
}
